$yellow:#eacf4f;
$white:#fff;
$black:#000;
$light-color:#aaa;
$border: 0.2rem solid rgba(255,255,255,0.3);

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: $black;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .icons{
        font-size: 2.5rem;
        cursor: pointer;
        color: $white;

        &:hover{
            color: $yellow;
        }
    }

    #menu-btn{
        display: none;
    }

    .navbar{
        a{
            color: $white;
            font-size: 2rem;
            margin: 0 2rem;

            &:hover{
                text-decoration: underline;
                text-underline-offset: 1rem;
                color: $yellow;
            }
        }

        .space{
            display: inline-block;
            width: 16rem;
        }
    }

    .logo{
        position: absolute;
        top: 3rem; left: 48.5%;
        transform: translateX(-50%);

        img{
            width: 15rem;
        }
    }
}
