$yellow:#eacf4f;
$white:#fff;
$black:#000;
$light-color:#aaa;
$border: 0.2rem solid rgba(255,255,255,0.3);

@mixin title-text($titleSize) {
    font-size: $titleSize;
    color: $white;
}

@mixin grap-text($grapSize) {
    font-size: $grapSize;
    line-height: 2;
    color: $light-color;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap: 2rem;
}

.menu{

    .box-container{
        @include grid(31rem);

        .box{
            text-align: center;

            &:hover img{
                transform: translateY(1rem);
            }

            img{
                height: 25rem;
            }

            .content{
                padding: 1rem 0;

                .stars{
                    margin-bottom: 2rem;

                    i{
                        font-size: 1.7rem;
                        color: $yellow;
                    }
                }

                h3{
                    @include title-text(2rem);
                }

                .price{
                    @include grap-text(2rem);
                }
            }
        }
    }
}